/* -- */
/* #0B0C10 */
/* #1F2833 */
/* #C5C6C7 */
/* #66FCF1 */
/* #45A29E */
/* -- */
/* #F78888 */
/* #F3D250 */
/* #ECECEC */
/* #90CCF4 */
/* #5DA2D5 */
/* =============================== */

body {
    background: #F78888;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    font-weight: 600;
}

.animalPar {
    text-align: right;
}

.bold {
    font-weight: 600;
}

.btn-group {
    margin: 5px;
}

.animalDiv {
    margin: 5px;
    border:2px solid #2D4159;
    background: #ECECEC;
    text-align: left;
}

.animalImage {
    margin: 5px;
    border:2px solid #2D4159;
}

.animalForm {
    background: #90CCF4;
    border: 2px solid #2D4159;
}

.loadMoreButton{
    background: #F3D250;
    border: 1px solid #2D4159;
    color: #0B0C10;
    margin: 5px;
}

.topButton {
    background: #F3D250;
    border: 1px solid #2D4159;
    color: #0B0C10;
}

.sideButton {
    background: #F3D250;
    border: 2px solid #2D4159;
    margin: 5px;
}

.btn-group {
    border: 1px solid #2D4159;
}

.firstRow {
    margin: 20px 0px 20px 0px;
}

.mainContentCol {
    background: #5DA2D5;
    border: 2px solid #2D4159;
}

.buttonsCol {
    background: #5DA2D5;
}

.GIFsCol {
    background: #90CCF4;
    border-top: 2px solid #2D4159;
    border-right: 2px solid #2D4159;
    text-align: center;
}

/* 
.darkBlueBorder {
    border: 1px solid #2D4159;
} */